In [51]:
import pandas as pd
import numpy as np

In [52]:
df = pd.read_csv('noahs-csv/noahs-customers.csv')

In [53]:
df.shape

(11080, 6)

In [54]:
df.head()

,customerid,name,address,citystatezip,birthdate,phone
0,1001,Jack Quinn,201 E Park St,"Los Angeles, CA 91343",1960-05-14,805-287-8515
1,1002,David Powell,224C Tysens Ln,"Staten Island, NY 10306",1978-04-04,516-768-1652
2,1003,Carrie Green,1608 W 53rd Way,"Tampa, FL 33614",1969-01-21,727-209-0470
3,1004,Steven Miller,178½ E 7th St,"Manhattan, NY 10009",1953-08-17,607-941-9563
4,1005,Christine Powers,270 W 242nd St,"Bronx, NY 10463",1983-06-06,212-759-9043

In [90]:
number_dictionary = {
    '2':'abc',
    '3':'def',
    '4':'ghi',
    '5':'jkl',
    '6':'mno',
    '7':'pqrs',
    '8':'tuv',
    '9':'wxyz'
}

In [ ]:
number_dictionary = {
    'abc': 2,
    'def':3,
    'ghi':4,
    'jkl':5,
    'mno':6,
    'pqrs':7,
    'tuv':8,
    'wxyz':9
}

In [58]:
df['phone_clean'] = df.phone.str.replace('-', '')

In [59]:
df.head()

,customerid,name,address,citystatezip,birthdate,phone,phone_clean
0,1001,Jack Quinn,201 E Park St,"Los Angeles, CA 91343",1960-05-14,805-287-8515,8052878515
1,1002,David Powell,224C Tysens Ln,"Staten Island, NY 10306",1978-04-04,516-768-1652,5167681652
2,1003,Carrie Green,1608 W 53rd Way,"Tampa, FL 33614",1969-01-21,727-209-0470,7272090470
3,1004,Steven Miller,178½ E 7th St,"Manhattan, NY 10009",1953-08-17,607-941-9563,6079419563
4,1005,Christine Powers,270 W 242nd St,"Bronx, NY 10463",1983-06-06,212-759-9043,2127599043

In [60]:
df.head()

,customerid,name,address,citystatezip,birthdate,phone,phone_clean
0,1001,Jack Quinn,201 E Park St,"Los Angeles, CA 91343",1960-05-14,805-287-8515,8052878515
1,1002,David Powell,224C Tysens Ln,"Staten Island, NY 10306",1978-04-04,516-768-1652,5167681652
2,1003,Carrie Green,1608 W 53rd Way,"Tampa, FL 33614",1969-01-21,727-209-0470,7272090470
3,1004,Steven Miller,178½ E 7th St,"Manhattan, NY 10009",1953-08-17,607-941-9563,6079419563
4,1005,Christine Powers,270 W 242nd St,"Bronx, NY 10463",1983-06-06,212-759-9043,2127599043

In [72]:
df_short_list = df.loc[df.name.str.len()==12]

In [87]:
first_name = df_short_list.name[1]
first_name

'David Powell'

In [94]:
number_dictionary['abc']

2

In [97]:
'd' in number_dictionary.keys()

False

In [91]:
first_number = []
for letter in first_name:
    if letter in number_dictionary.keys():
        first_number.append(number_dictionary.values())

TypeError: argument of type 'builtin_function_or_method' is not iterable

In [64]:
short_list[0].

,customerid,name,address,citystatezip,birthdate,phone,phone_clean
1,1002,David Powell,224C Tysens Ln,"Staten Island, NY 10306",1978-04-04,516-768-1652,5167681652
2,1003,Carrie Green,1608 W 53rd Way,"Tampa, FL 33614",1969-01-21,727-209-0470,7272090470
6,1007,Mark Collins,14-47 110th St,"College Point, NY 11356",1967-04-14,585-554-1963,5855541963
7,1008,Jill Stevens,735A Amsterdam Ave,"Manhattan, NY 10025",1959-06-11,516-307-0443,5163070443
22,1023,Paul Watkins,243B Moore St,"Brooklyn, NY 11206",1977-11-11,914-993-3164,9149933164
...,...,...,...,...,...,...,...
11051,12051,Angela Stone,979 Washington Ave,"Brooklyn, NY 11238",1983-07-17,680-936-3434,6809363434
11054,12054,Ronald Chang,5418 Fieldston Rd,"Bronx, NY 10471",1957-01-23,516-768-8895,5167688895
11055,12055,Kevin Becker,110-35 113th St,"South Ozone Park, NY 11420",1980-08-18,585-798-5007,5857985007
11065,12065,Jill Stevens,3100 Cedar St,"Los Angeles, CA 91405",1944-03-12,805-490-9520,8054909520
11076,12076,Kevin Cooper,360 Edgecombe Ave,"Manhattan, NY 10031",1994-07-22,315-496-6981,3154966981

In [ ]:
num_lis = []
for name in df.name:
    name.split()

In [ ]:
df['phone_to_text'] =

In [25]:
if df.name in number_dictionary:
    print(ok)

TypeError: unhashable type: 'Series'

In [11]:
len(df['phone'][0])

12

In [12]:
df['name'].head()

0          Jack Quinn
1        David Powell
2        Carrie Green
3       Steven Miller
4    Christine Powers
Name: name, dtype: object

In [13]:
df['name'].max()

'Zoe Nunez'

In [15]:
df.name.str.len().max()

30

In [62]:
short_list = df.loc[df.name.str.len()==12]

In [19]:
df.iloc[1031]

customerid                    2032
name                  Krista Adams
address            134-19 26th Ave
citystatezip    Flushing, NY 11354
birthdate               1962-06-22
phone                 680-498-6246
Name: 1031, dtype: object

In [16]:
np.where(df.name.str.len().max() == 30,df['name'])

ValueError: either both or neither of x and y should be given